:root {
  --font-family--display: 'Luminari';
  --font-family--body: 'Baskerville';

  --color--text: black;
  --color--accent: #DF7F83;
  --color--accent__hover: #c15943;
  --color--background: #FBF7E7;

  --color-marquise: #D26024;
  --color-eyrie: #4360AC;
  --color-alliance: #58AE41;
  --color-vagabond: #D7D7D7;
  --color-vagabond2: #353132;
  --color-cult: #E2E019;
  --color-riverfolk: #5CBDAD;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  font-size: 16px;
  font-family: var(--font-family--display);

  cursor: pointer;

  border: 1px solid var(--color--accent);
  background-color: var(--color--background);
  color: var(--color--accent);

  padding: 5px 15px;
  border-radius: 3px;
}
